<!DOCTYPE html>
<html>	
<head>
<title>Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="Flat Dark Web Login Form Responsive Templates, Iphone Widget Template, Smartphone login forms,Login form, Widget Template, Responsive Templates, a Ipad 404 Templates, Flat Responsive Templates" />
<link href="/assets/styles/login/style.css" rel='stylesheet' type='text/css' />
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
<script>$(document).ready(function(c) {
	$('.close').on('click', function(c){
		$('.login-form').fadeOut('slow', function(c){
	  		$('.login-form').remove();
		});
	});
});
</script>
 <!--SIGN UP-->
 <h1>学生学籍信息登录</h1>
<div class="login-form">
	<div class="close"> </div>
		<div class="head-info">
			<label class="lbl-1"> </label>
			<label class="lbl-2"> </label>
			<label class="lbl-3"> </label>
		</div>
			<div class="clear"> </div>
	<div class="avtar">
		<img src="/assets/images/logo.png" width="100px" />
	</div>
			<form>
					<input type="text" class="text" value="Username" id="Username" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Username';}" >
						<div class="key">
					<input type="password" value="Password" id="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">
						</div>
			</form>
	<div class="signin">
		<input type="submit" value="Login" onclick="checkLogin()">
	</div>
</div>
</body>
<script type="text/javascript">
	function checkLogin() {
		var username = $('#Username').val();
		var password = $('#Password').val();
        $.ajax({
            type:'post',
            url:'/checkUser',
            data:{"username":username,
                "password":password},
            dataType:'JSON',
            success:function(data){
                if (data.message=="成功") {
                    alert(data.data);
                    location.href="stuHomePage";
				} else {
                    alert(data.data)
				}
            }
        });
        }
</script>
</html>