<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <title>学籍档案</title>
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="dns-prefetch" href="//t1.chei.com.cn?v=1531374966451">
    <link rel="dns-prefetch" href="//t2.chei.com.cn?v=1531374966451">
    <link rel="dns-prefetch" href="//t3.chei.com.cn?v=1531374966451">
    <link rel="dns-prefetch" href="//t4.chei.com.cn?v=1531374966451">
    <link rel="dns-prefetch" href="//ssl.google-analytics.com?v=1531374966451">
    <link rel="icon" href="/archive/favicon.ico?v=1531374966451" type="image/x-icon" />
    <!--新的样式-->
    <link href="https://t1.chei.com.cn/common/bootstrap3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://t1.chei.com.cn/common/ch/iconfont.css" rel="stylesheet"/>
    <link rel="stylesheet" href='https://t4.chei.com.cn/archive/css/custom/archive.min.css?20190110' />
    <script type="text/javascript" src="https://t1.chei.com.cn/common/jquery/1.9.1/jquery.min.js"></script>

    <script src="https://t1.chei.com.cn/common/js/boomerang-min-20141211.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-100524-5"></script>
</head>
<body>
<style type="text/css">
    .webuploader-container .webuploader-pick{
        position: relative;
        display: inline-block;
        cursor: pointer;
        color: #fff;
        text-align: center;
        border-radius:0;
        overflow: hidden;
        padding: 0 30px;
        background: #25b887;
    }
    .pdf-show{
        float: left;
        display:inline-block;
        border: 1px solid #ccc;
        padding:0 10px;
        width:144px;
        height: 32px;
        margin-right:5px;
    }
    .pdf-show .item{
        display:inline-block;
        width:144px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .ctl-btn{
        vertical-align: 12px;
    }
</style>
<div class="outer-layer">
    <div class="outer-layer-content">

        <link rel="stylesheet" href="https://t1.chei.com.cn/common/css/animate.css">
        <img src="https://t1.chei.com.cn/common/wap/images/share_xxda.jpg?v=1477569249589" width='0' height='0' style='position: absolute;top:-100px;left: 0'/>
        <div class="header">
            <div class="width1180 clearfix">
                <div class="logo"><a href="/archive/index.jsp" target="_parent" class="home"></a></div>
                <div class="nav-userinfo">
                    <div class=" btn-group">
                        <div class="user dropdown-toggle" data-toggle="dropdown"><i class="iconfont" title="个人中心">&#xe647;</i>个人中心<span class="caret"></span>
                        </div>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href=''><i class="iconfont" title="退出">&#xe695;</i>退出</a></li>
                        </ul>
                    </div>


                </div>
            </div>
        </div>
        <div  class="sub_nav" >
            <div id="nav-second" class="width1180 clearfix" style="width: 200px">
                <ul class="sub_nav_mian" style='display:none'>
                    <li>学籍信息</li>
                    <li>学历信息</li>
                </ul>
            </div>
        </div>
        <script src='https://t1.chei.com.cn/archive/js/common/header-menu-1.0.1.js'></script>
        <div class='main'>
            <div class="clearfix">
                <div class="m-left xj-left main-block border-shadow " style="width: 1200px">
                        <div class="xj-m-r">
                            22222222
                        </div>
                        <div class="clearFloat">&nbsp;</div>
                    </div>
                    <div id="pic_query_result_1"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <a  target="_blank">金科学籍网</a>　|　<a  target="_blank">帮助中心</a>
    <div id="loader"></div>
    <script type="text/javascript" src="https://t1.chei.com.cn/common/plugins/validation/jquery.validate.min.js"></script>
    <script type="text/javascript" src='https://t2.chei.com.cn/archive/js/jquery/jquery.form.js'></script>
    <script src="https://t1.chei.com.cn/common/bootstrap3.3.5/js/bootstrap.min.js"></script>
    <script src="https://t1.chei.com.cn/common/bootstrap-datetimepicker-v3/bootstrap-datetimepicker.min.js"></script>
    <script src='https://t4.chei.com.cn/archive/js/common/ie-prompt.min.js'></script>
    <script src="https://t1.chei.com.cn/common/plugins/jqueryraty/jquery.raty.min.js" ></script>
    <link rel="stylesheet" href='https://t4.chei.com.cn/archive/js/webuploader/webuploader.css' />
    <script src='https://t4.chei.com.cn/archive/js/webuploader/webuploader.js'></script>
</div>
</body>
</html>